@attribute [Microsoft.AspNetCore.Components.Route(NavUri.RegisterPage)]

<PageTitle>@Localizer["CreateAccount"] - Ai-CV</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="py-4 d-flex flex-column align-center justify-center"
    Style="min-height: 80vh;">
    <MudPaper Class="pa-6" Elevation="3" Style="width: 100%;">
        <div class="d-flex justify-center mb-6">
            <MudImage Src="/logoSvg.svg" Alt="AiCV Logo" Width="100" />
        </div>
        <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">@Localizer["CreateAccount"]</MudText>
        
        <EditForm Model="this" OnValidSubmit="HandleRegister">
            <MudTextField @bind-Value="_email" Label="@Localizer["Email"]"
                Variant="Variant.Outlined" InputType="MudBlazor.InputType.Email" Adornment="Adornment.Start"
                AdornmentIcon="@Icons.Material.Filled.Email" Class="mb-3" Required="true" />

            <MudTextField @bind-Value="_password"
                Label="@Localizer["Password"]" Variant="Variant.Outlined" InputType="MudBlazor.InputType.Password"
                Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Lock" Class="mb-3" Required="true"
                HelperText="@Localizer["PasswordRequirementHelper"]" />

            <MudTextField @bind-Value="_confirmPassword"
                Label="@Localizer["ConfirmPassword"]" Variant="Variant.Outlined"
                InputType="MudBlazor.InputType.Password" Adornment="Adornment.Start"
                AdornmentIcon="@Icons.Material.Filled.Lock" Class="mb-3" Required="true" />

            @if (!string.IsNullOrEmpty(Error))
            {
                <MudAlert Severity="Severity.Error" Class="mb-3">@Error</MudAlert>
            }

            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large"
                FullWidth="true" StartIcon="@Icons.Material.Filled.PersonAdd" Disabled="_isProcessing">
                @if (_isProcessing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">@Localizer["Processing"]</MudText>
                }
                else
                {
                    @Localizer["Register"]
                }
            </MudButton>
        </EditForm>

        <MudDivider Class="my-4" />

        <MudText Align="Align.Center">
            @Localizer["AlreadyHaveAccount"] <MudLink Href="/login">@Localizer["LoginHere"]</MudLink>
        </MudText>
    </MudPaper>
</MudContainer>
