@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudScrollToTop TopOffset="400">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.KeyboardArrowUp" />
</MudScrollToTop>

<MudLayout
    Style="background-image: url('/mbg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed; min-height: 100vh;">
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
        <MudImage Src="/logoWhiteSvg.svg" Alt="AI Web CV Logo" Style="cursor: pointer;" Class="responsive-logo"
            @onclick="NavigateToHome" />
        <MudText Typo="Typo.h6" Class="responsive-app-title">AI CV & Applications</MudText>
        <MudSpacer />
        @if (_showBetaWarning)
        {
            <MudChip T="string" Color="Color.Warning" Size="Size.Small" OnClose="@(() => _showBetaWarning = false)"
            Class="hide-on-mobile">
                🚧 Beta - Data may reset during updates
            </MudChip>
        }
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
            Href="https://github.com/fitimzulfiju/Web-CV-application-generator" Target="_blank" />
    </MudAppBar>
    @if (LoadingService.IsVisible)
    {
        <AiCV.Web.Components.Shared.LoadingIndicator Color="Color.Info" Size="Size.Large" Value="@LoadingService.Percentage"
        Indeterminate="@(LoadingService.Percentage <= 0)" Class="width-100"
        Style="position: fixed; top: 64px; z-index: 2000;">
            <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                <b>

                    @LoadingService.Percentage
                    %
                </b>
            </MudText>
        </AiCV.Web.Components.Shared.LoadingIndicator>
    }
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Class="responsive-drawer">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
    <AiCV.Web.Components.Shared.UpdateBanner />
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>