<MudMenu AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
    <ActivatorContent>
        <MudButton Color="Color.Inherit" Variant="Variant.Text">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                <MudIcon Icon="@Icons.Material.Filled.Language" Size="Size.Small" />
                <span>@CurrentLanguageCode</span>
            </MudStack>
        </MudButton>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem OnClick='@(() => SwitchLanguage("en"))'>
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                <MudImage
                    Src="@($"data:image/svg+xml;base64,{Convert.ToBase64String(Encoding.UTF8.GetBytes(FlagIcons.US))}")"
                    Alt="USA" Width="24" Height="24" ObjectFit="ObjectFit.Contain" />
                <span>English</span>
            </MudStack>
        </MudMenuItem>
        <MudMenuItem OnClick='@(() => SwitchLanguage("sq"))'>
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                <MudImage
                    Src="@($"data:image/svg+xml;base64,{Convert.ToBase64String(Encoding.UTF8.GetBytes(FlagIcons.AL))}")"
                    Alt="Albania" Width="24" Height="24" ObjectFit="ObjectFit.Contain" />
                <span>Shqip</span>
            </MudStack>
        </MudMenuItem>
    </ChildContent>
</MudMenu>
