@implements IDisposable

@if (_showBanner)
{
    <MudPaper Class="update-banner" Elevation="4"
    Style="position: fixed; bottom: 0; left: 0; right: 0; z-index: 9999; background-color: #ff9800; color: white; padding: 12px 24px;">
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3">
                <MudIcon Icon="@Icons.Material.Filled.Warning" />
                <MudStack Spacing="0">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">
                        @if (_isInstalling)
                        {
                            <span>@Localizer["InstallingUpdates"]</span>
                        }
                        else
                        {
                            <span>@Localizer["UpdateAvailable"] @(!string.IsNullOrEmpty(_newVersionTag) ? $"({_newVersionTag})"
                        : "")</span>
                        }
                    </MudText>
                    <MudText Typo="Typo.body2" Style="opacity: 0.9;">
                        @if (_isInstalling)
                        {
                            <span>@Localizer["ServerRestartingWait"]</span>
                        }
                        else
                        {
                            <span>@string.Format(Localizer["ImprovingSystemWorkSavedRestart"].Value,
                        FormatTime(_secondsRemaining))</span>
                        }
                    </MudText>
                </MudStack>
            </MudStack>
            <MudText Typo="Typo.h6" Style="font-weight: bold;">
                @if (_isInstalling)
                {
                    <MudProgressCircular Color="Color.Inherit" Size="Size.Small" Indeterminate="true" />
                }
                else
                {
                    <span>@FormatTime(_secondsRemaining)</span>
                }
            </MudText>
        </MudStack>
    </MudPaper>
}
